@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background-image: url("./misc/TvBasketBackground.svg");
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.navbar .links {
  color: #6320ee;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: grey;
}

.navbar a:hover {
  text-decoration: none;
  padding: 6px;
  color: #6320ee;
  text-shadow: 0 0 1vw #6320ee;
}

.content {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
  color: #6320ee;
}

.movie-poster {
  width: 10%;
  height: 10%;
}

.register {
  width: 40%;
  background-color: #272727;
  border-radius: 5%;
}

.input-section label {
  color: grey;
}

.input-section input {
  background-color: #272727;
  border-color: grey;
  border-radius: 25%;
  color: white;
}

.button {
  background-color: #6320ee;
  color: white;
  border-color: #6320ee;
  border-radius: 15% 15% 15% 15%;
}

a {
  text-decoration: none;
  color: #6320ee;
}*/
